{% extends 'BlackbournMainBundle:Default:layout.html.twig' %}

{% block content %}
<iframe
    style=" width: 100%; height: 500px"
    scrolling="no"
    frameborder="0"
    src="http://amazebot.blackbourn.ca"
></iframe>
{% endblock content %}
