{% extends 'BlackbournMainBundle:Default:layout.html.twig' %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <span class="col-sm-12">Hello!</span>
        </div>
    </div>
    <div class="panel-body">
        <p>I mostly use this server for other projects, experiments and IRC, so there isn't much to see here.</p>
        <p>Here's my <a href="{{ path('resume') }}">resume</a>.</p>
        <p>This is a <a target="_blank" href="http://symfony.com">Symfony2</a> website powered by <a target="_blank" href="http://httpd.apache.org">Apache</a> and <a target="_blank" href="https://www.varnish-cache.org">Varnish</a>.</p>
        <p>This site uses <a href="http://symfony.com/doc/current/cookbook/assetic/asset_management.html">Assetic</a> for asset management, <a href="http://getbootstrap.com/">Bootstrap</a>, and <a href="https://www.gnu.org/software/make/">Make</a> for application building</p>
        <p>The source for this site can be found on Bitbucket <a href="https://bitbucket.org/blackbourna/blackbourn.ca">here</a>.</p>
    </div>
</div>
{% endblock content %}
