<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Vanity website for Andrew Blackbourn">
        <meta name="author" content="Andrew Blackbourn">

        <title>Andrew Blackbourn</title>

        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        {% stylesheets filter="cssrewrite"
            '@BlackbournMainBundle/Resources/less/styles.less'
        %}
            <link href="{{ asset_url }}" rel="stylesheet"/>
        {% endstylesheets %}

        {% javascripts
            '@BlackbournMainBundle/Resources/js/jquery.min.js'
            '@BlackbournMainBundle/Resources/js/bootstrap.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!-- End HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <meta name="google-site-verification" content="0ecDHmxoXCCvffb-4uA8-ZKTAHNZ27lC1OPFw0bTjGU" />
    </head>
    <body>
        {% include 'BlackbournMainBundle:Default:common/nav.html.twig' %}
        <div class="container">
            {{ block('content') }}
        </div>
    </body>
</html>
