{% extends 'BlackbournMainBundle:Default:layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="text-center">Andrew Blackbourn</h1>
        <address class="text-center">
            <a class="text-center text-info" href='mailto&#58;%62lac&#37;&#54;Bbou&#114;&#110;a&#64;g&#37;6D%61i&#108;&#46;&#99;&#37;6F%6D'>&#98;&#108;ackb&#111;urna&#64;gm&#97;il&#46;&#99;&#111;&#109;</a>
        </address>
    </div>

    <h2 class="well">Summary of Qualifications</h2>

    <!-- Begin Technical -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            Technical
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <ul>
                    <li>Extensive knowledge of PHP/Symfony Frameworks, JS/JQuery, MVC, REST, Apache</li>
                    <li>Experience programming for Android, Blackberry and iOS platforms, CMS Development</li>
                    <li>Strong knowledge of OOP concepts, PostgreSQL, MySQL, ORM</li>
                    <li>Well versed in Unix/Linux, Windows, OSX</li>
                    <li>Prefer to use Vim for text editing</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Technical -->

    <!-- Begin Interpersonal -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            Interpersonal Skills
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <ul>
                    <li>Always looking to learn something new, excellent troubleshooting skills</li>
                    <li>Consistently able to deliver projects on time and within estimate, meet deadlines</li>
                    <li>Excellent in both individual and team environments, grasps new concepts quickly</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Interpersonal -->

    <!-- Begin projects -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            Side Projects
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <ul>
                    <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.blackbourna.softeng">Tilt the Ball</a> a PhoneGap accelerometer-based ball game for Android, currently in the Android Market, build with <a target="_blank" href="http://www.limejs.com/">LimeJS</a> and <a target="_blank" href="http://box2d.org/">Box2D</a></li>
                    <li><a href="https://robinflash.wordpress.com">Robin</a>, a NodeJS/AS2 socket library for multiuser sessions in Flash projects built in collaboration with <a href="http://danzen.com/">Dan Zen</a></li>
                    <li>Actively learning the <a href="https://unity3d.com/">Unity Game Engine</a> and <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C#</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End projects -->

    <h2 class="well">Education</h2>

    <!-- Begin McMaster -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4">
                    Hamilton, ON
                </div>
                <div class="col-sm-4 text-center">
                    Mohawk College
                </div>
                <div class="col-sm-4 text-right">
                    September 2009 - December 2012
                </div>
            </div>
            <div class="row">
                <span class="col-sm-12">Computer Systems Technology - Software Development</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <ul>
                    <li>Dean's List in all semesters - 97% GPA, 100% in all web languages courses</li>
                    <li>2nd place in Mohawk College's Amazebot Programming Competition, a Java/Scala software-robot maze-solving AI competition in both 2011 and 2012</li>
                    <li>Developed AmazebotJS - a web-based maze game based on the Amazebot API</li>
                    <li>Developed a custom WordPress FAQ Submission plugin as a final semester project</li>
                </ul>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <span class="col-sm-12"><i>Diploma Received</i></span>
            </div>
        </div>
    </div>
    <!-- End Mohawk-->

    <!-- Begin McMaster -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4">
                    Hamilton, ON
                </div>
                <div class="col-sm-4 text-center">
                    McMaster University
                </div>
                <div class="col-sm-4 text-right">
                    September 2003 - April 2006
                </div>
            </div>
            <div class="row">
                <span class="col-sm-12">Bachelor of Arts - Humanities English</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <ul>
                    <li>Highly developed written and oral language skills</li>
                    <li>Able to consistently produce clear, concise documents</li>
                </ul>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <span class="col-sm-12"><i>Degree Received</i></span>
            </div>
        </div>
    </div>
    <!-- End McMaster -->

    <h2 class="well">Employment History</h2>
    {# TODO use Markdown in a config file instead of hardcoding this #}
    <!-- Begin ExperiencePoint -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4">
                    Toronto, ON
                </div>
                <div class="col-sm-4 text-center">
                    ExperiencePoint
                </div>
                <div class="col-sm-4 text-right">
                    March 2014 - Present
                </div>
            </div>
            <div class="row">
                <span class="col-sm-12">Developer</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <ul>
                    <li>Executive Education software and training company that provides online materials and games to teach Change Management and Design Thinking principles</li>
                    <li>Developed and maintained a custom internal CMS/CRM to integrate client facing applications</li>
                    <li>CRM integrated with Zendesk for tech support and Salesforce for account management</li>
                    <li>Legacy CRM was written in Symfony1, migrated in a manner that allowed new features to be written in Symfony2, avoiding a massive rewrite of the legacy codebase</li>
                    <li>Developed RESTful APIs and complex SQL queries for report generation</li>
                    <li>Automated many tasks - the support team was able to handle more than twice the monthly workload without increasing staff</li>
                    <li>Refactored the application workflow to reflect real-life business practices</li>
                    <li>Automated unit tests on new code, simulated web browser tests for legacy code</li>
                    <li>Fast-paced environment with multiple deploys per week</li>
                    <li>Emphasis on using SOLID principles and choosing solutions for long-term maintainability</li>
                    <li>FreeBSD Unix environment with Apache/PostgreSQL/Redis/Symfony2/JQuery/Bootstrap stack</li>
                    <li>Version control via internally hosted Git/SVN repositories</li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End ExperiencePoint -->

    <!-- Begin MRX -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4">
                    Hamilton, ON
                </div>
                <div class="col-sm-4 text-center">
                    MRX Digital Sports Solutions (Lulu Canada)
                </div>
                <div class="col-sm-4 text-right">
                    May 2012 - December 2013
                </div>
            </div>
            <div class="row">
                <span class="col-sm-12">Developer</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <ul>
                    <li>Sports website developer, with primary clients being the Canadian Football League (CFL), Canadian Hockey League (CHL)and all teams within those leagues, including the Toronto Argonauts and the Hamilton Ticats</li>
                    <li>Developed and maintained frontend and backend modules for custom PHP-based CMS projects using Symfony 1 and 2</li>
                    <li>Developed custom Javascript/JQuery UI components for frontend and CMS backend</li>
                    <li>Doctrine and Propel ORM, Composer package management, PHP/Twig templating</li>
                    <li>Developed distributed RESTful web services for use with RabbitMQAdvanced Message Queuing Protocol (AMQP) as middleware for Python/Django ORM</li>
                    <li>Data migrations from legacy CMS into new version, required strong knowledge of SQL</li>
                    <li>Writing unit tests Django and PHPUnit, performing peer reviews, continuous integration via Jenkins CI Server</li>
                    <li>Developed in both Vagrant VMs configured via Puppet as well asremote sandboxes</li>
                    <li>Linux-heavy environment, all source code maintained via Git and SVN, project management via Redmine</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End MRX -->

    <!-- Begin Ideaworks -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4">
                    Hamilton, ON
                </div>
                <div class="col-sm-4 text-center">
                    Hydromantis/Ideaworks
                </div>
                <div class="col-sm-4 text-right">
                    April 2011 - April 2012
                </div>
            </div>
            <div class="row">
                <span class="col-sm-12">Developer</span>
            </div>
        </div>
        <div class="panel-body">
            <ul>
                <li>
                    Joint project between Hydromantis and Mohawk College's IdeaWorks department
                </li>
                <li>
                    Collaborated with chemical engineers to develop a model and methodology for the calculation of carbon footprint emissions generated by wastewater treatment plants
                </li>
                <li>
                    Worked with software developers to implement the model into their existing GPS-X wastewater treatment simulation software using Advanced Computer Simulation Language (ACSL Programming Language) and Java Swing
                </li>
                <li>
                    Project was successfully completed as well as multiple side projects:
                </li>
                <li>
                    <ul>
                        <li>
                            Conceptualized and developed Android, as well as Blackberry and iOS ports of "WaterUnits" a scientific unit conversion app currently in the Google Play Store
                        </li>
                        <li>
                            "WaterMapper", a Java Swing application for visualizing municipal water usage
                        </li>
                        <li>
                            Developed "Brock Radio" streaming audio applications for Brock University's CFBU 103.7 student radio station for both Android and Blackberry devices
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Ideaworks -->
    <footer>
        <div class="well">
            <div class="row">
                <span class="col-sm-12"><strong>References are available upon request</strong></span>
            </div>
        </div>
    </footer>
{% endblock %}
