<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">blackbourn.ca</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('index') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('resume') }}">Resume</a></li>
                        {#
                        <li><a target="_blank" href="http://amazebot.blackbourn.ca">Amazebot Browser Game</a></li>
                        <li><a target="_blank" href="https://play.google.com/store/apps/developer?id=Andrew+Blackbourn">Android Play Store</a></li>
                        #}
                        <li class="divider"></li>
                        <li><a target="_blank" href="http://github.com/blackbourna">Github</a></li>
                        <li><a target="_blank" href="http://stackoverflow.com/users/538594/blackbourna">Stackoverflow</a></li>
                        <li><a target="_blank" href="http://bitbucket.com/blackbourna">Bitbucket</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
